SECRET_KEY = "CHANGE-ME"
DEBUG = 0
ALLOWED_HOSTS = "CHANGE-ME"

# Database settings
# Sqlite
DATABASE_ENGINE = 'django.db.backends.sqlite3'
DATABASE_NAME = "./db.sqlite3"

# Postgres
# DATABASE_ENGINE='django.db.backends.postgresql'
# DATABASE_NAME="basededados"

DATABASE_USER = "CHANGE-ME"
DATABASE_PASSWORD = "CHANGE-ME"
DATABASE_HOST = "CHANGE-ME"
DATABASE_PORT = "CHANGE-ME"