<div class="portfolio-box">

    <img src="{{ project.cover.url }}" alt="">

    <div class="portfolio-layer">

        <h4>{{project.title}}</h4>
        <p>{{project.description}}</p>

        {% if not is_detail_page %}
            <a href="{% url "portfolio:project" project.id %}"><i class='bx bxs-info-circle'></i></i></a>

        {% else %}
            <div class="preparation-steps">
                {{ project.detail_project|linebreaksbr }}
            </div>
        {% endif %}

    </div>
</div>