{% extends "global/base.html" %}

{% block content %}
    <main class="main-content-grow single-post">
    <div class="single-post-content section-content-narrow">
        <div class="section-gap">
        
        
            <div class="pb-base">
                <img loading="lazy" src={{project.cover.url}} alt={{project.title}}>
            </div>
            

            <h2 class="single-post-title center">
                {{project.title}}
            </h2>

            <div class="social">
                <a href="https://blog.vsantiago.com.br/"><i class='bx bx-link-external'></i></a>
                <a href="https://github.com/VCruzSant/Blog-Django"><i class='bx bxl-github'></i></a>
                
            </div>

            <div class="post-meta pb-base"> 

                
                {% if project.category %}
                <div class="post-meta-item">
                    <a 
                    class="post-meta-link" 
                    href="#"
                    >
                    <i class="fa-solid fa-tag"></i>
                    <span>
                        {{project.category.name}}
                    </span>
                    </a>
                </div>
                {% endif %}
            </div>

            <p class="single-post-excerpt pb-base">
                {{project.description | safe}}
            </p>

            <div class="separator"></div>

            <div class="single-post-content">
                {{project.detail_project | safe}}
            </div>
        
        </div>
    </div>
    </main>

{% endblock content %}