* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #141414;
    --text-color: rgb(221, 237, 233);
    --main-color: #00ffee;

    --spacing-gutter-medium: 3rem;
    --spacing-base: 3rem;
    --lh-headings: 1.2;

    --fs-h2: clamp(2.8rem, 1.938461538461538rem + 2.051282051282052vw, 4.4rem);
    --fs-bg: clamp(2rem, 1.7846153846153847rem + 0.5128205128205127vw, 2.4rem);
    
    --ff-mono: monospace;
    --ff-headings: Georgia, 'Times New Roman', Times, serif;
    
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    height: 100%;
}

pre,
code {
  font-family: var(--ff-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-headings);
  line-height: var(--lh-headings);
  margin: var(--spacing-base) 0;
}

.main-content-grow {
    flex-grow: 1;
}

.single-post{
    padding-top: 1.5rem;
}

.single-post-content {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    
}

.section-content-narrow {
    max-width: 90rem;
}

.section-content-wide,
.section-content-narrow {
    margin-inline: auto;
}

.section-gap {
    padding: 10rem 3rem;
}

.pb-base {
    padding-bottom: 3rem;
}

.single-post-title,
.single-post-excerpt {
    margin: 0;
    font-size: 38px; /* Fallback value */
    font-size: var(--fs-h2);
  
}

.center {
    text-align: center;
  }

.single-post-excerpt {
    color: var(--text-color);
    font-size: var(--fs-bg);
    font-style: italic;
}

.post-meta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-base);
    flex-flow: row wrap;
}

.post-meta-item{
    padding-top: 2rem;
}

.post-meta-link {
    display: flex;
    gap: var(--spacing-micro);
    align-items: center;
    justify-content: center;
    color: hsl(var(--text-color));
    text-decoration: none;
    border-radius: 50%;
    border-color: var(--main-color);
  }
  
.post-meta-link:hover {
    text-decoration: none;
}

.separator {
    background: var(--main-color);
    width: 50%;
    margin-inline: auto;
    height: 1px;
    flex-shrink: 0;
}

.main-content {
    padding-top: 0;
}

.post-tags {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1.5rem;
  }
  
  .post-tags .post-tag-link,
  .post-tags .post-tag-link i {
    color: var(--text-color);
  }
  
  .post-tags .post-tag-link:hover,
  .post-tags .post-tag-link:hover i {
    color: var(--text-color);
    text-decoration: none;
  }

.section-gap .social {
    padding-top: 3rem;
}

.main-content-detail .portfolio-list-item {
    max-width: 84rem;
    margin: 0 auto;
}

.main-content-detail .portfolio-list-item:hover {
    transform: scale(1);
    box-shadow: -10px 10px 20px var(--main-color);
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
    
}

.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    color: var(--bg-color);
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}


.portfolio-list-item {
    max-width: 64rem;
    height: fit-content;
    background: var(--bg-color);
}

.portfolio-list-item:hover {
    transform: scale(1.02);
    box-shadow: -10px 10px 20px var(--main-color);
}

.portfolio-title-container {
    padding: var(--spacing-gutter-medium);
    padding-bottom: 2rem;
    
}

.portfolio-title-container a{
    text-decoration: none;
    color: var(--main-color)
}

.portfolio-author {
    padding: 0 var(--spacing-gutter-medium);
}

.portfolio-content {
    padding: var(--spacing-gutter-medium);
    padding-top: 2rem;
}

.portfolio-author-item {
    margin-right: 1rem;
}

.portfolio-author a {
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

.portfolio-content {
    padding: var(--spacing-gutter-medium);
    padding-top: 2rem;
    color: var(--text-color)
    
}

.portfolio-footer a {
    background: var(--bg-color);
    display: block;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    padding: 1rem var(--spacing-gutter-medium);
    transition: all 300ms ease-in-out;
}

.portfolio-footer a:hover {
    filter: brightness(1.5);
}

.preparation-steps{
    padding: var(--spacing-gutter-medium);
}

.preparation-steps h1,
.preparation-steps h2,
.preparation-steps h3,
.preparation-steps h4,
.preparation-steps h5,
.preparation-steps h6,
.preparation-steps p,
.preparation-steps ul,
.preparation-steps ol,
.preparation-steps pre {
    margin: 2rem 0;
}

.preparation-steps ul,
.preparation-steps ol {
    margin: 2rem;
    padding: 0.2rem;
    
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3 ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color:var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color:var(--main-color);
    display: none;

}

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home {
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display:flex;
    flex-direction: column;
    align-items: baseline;
    text-align:left;
    justify-content: center;
    margin-top: 3rem;
}

span{
    color: var(--main-color);
}

.logo span{
    color: var(--main-color);
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    top: 3rem;
    width: 32vh;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);

}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 1.5rem 3rem 1.5rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 24px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;

}

.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;   
}

.text-animation span::before {
    content: "Software Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words{
    0%,
    20% {
        content: "Backend Developer";
    }
    21%,
    40% {
        content: "Python Developer";
    }
    41%,
    60% {
        content: "Data Engineer";
    }
    61%,
    80% {
        content: "Django Developer";
    }
    81%,
    100% {
        content: "Software Tester";
    }
}

@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

.projects {
    color: black;
}

.projects h2 {
    margin-bottom: 5rem;
    color: white;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-box{
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.project-box:hover{
    background:white;
    color: black;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.project-box .project-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
}

.project-info h4 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
}

.project-info p{
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 100;
    line-height: 1.7;
    margin: auto;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}

.social{
    text-align: center;
    padding-bottom: 20px;
    color: var(--main-color);
}

.social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display:inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3 ease-in-out;
}

.social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;

}

.footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
}

.footer ul li{
    display:inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;

}


@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }

    .portfolio {
        padding-bottom: 7rem;

    }
}

@media (max-width: 768px) {
    .header {
        padding: 2rem;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 2.6rem;
    }

    .home-img img {
        width: 70vw;
        margin-bottom: 7rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}